# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
.vs/
appsettings.Development.json

# Node
node_modules/
dist/
.angular/
.sass-cache/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Environment
.env
*.env.local

# Build artifacts
publish/
