@import "tailwindcss";

@source "./app/**/*.ts";
@source "./index.html";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: oklch(82.8% 0.189 84.429 / 0.3);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
